* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(#2B4064 0%, #2B4064 130px, #E7EEFB 130px, #E7EEFB 100%);
  align-items: center;
  justify-content: center;

}

.second {
  position: relative;
  display: flex;
  height: calc(100vh - 40px);
  max-width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  width: 1396px;
}

.second .leftSide {
  position: relative;
  flex: 70%;
  background: #FAFBFF;
}

.second .rightSide {
  position: relative;
  flex: 30%;
  background: #FFFFFF;
}

.second .leftSide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.head {
  position: relative;
  height: 70px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navicons li {
  list-style: none;
  cursor: pointer;
  color: #2B4064;
}

.imgtext {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgtext h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgtext h4 span {
  font-size: 0.6em;
  color: #2B4064;
}

.chat {
  position: relative;
  width: 100%;
  height: calc(100% - 120%);
  padding: 50px;
  overflow-y: auto;
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: antiquewhite;
  border-radius: 10px;
  font-size: 0.9em;
}

.message p:before {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #2B4064 0%, #2B4064 50%, transparent 50%, transparent);
}

.message p span {
  display: block;

  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;

}

.my_side_message {
  justify-content: flex-end;
  color: #FAFBFF;
}

.other_side_message {
  justify-content: flex-start;
  color: #2B4064;
}

.my_side_message p {
  background: #2B4064;

}

.other_side_message p {
  background: #E7EEFB;
  text-align: left;

}

.other_side_message p:before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg, #E7EEFB 0%, #E7EEFB 50%, transparent 50%, transparent);
}

.chatInput {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #FAFBFF;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatInput i-feather {
  cursor: pointer;
  font-size: 1.2em;
  color: #2B4064;
  margin-left: 1em;

}

.chatInput i:nth-child(1) {
  margin-right: 15px;
}

.chatInput input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;

}

.rightSide {
  padding: 20px;
  position: relative;
  flex-direction: column;
  display: flex;

}

.underline {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
  align-items: center;
  justify-content: center;
}

.amis {
  position: relative;
  margin-top: 20%;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;

}

.dispo {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: forestgreen;
  padding: 2px 8px;
  margin-right: 2px;
}

.hors {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: gray;
  padding: 2px 8px;
  margin-right: 2px;
}

.button {
  position: relative;
  bottom: 0;
  background: #2B4064;
  color: white;
  width: 90%;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  text-align: center;

}






