<p>chat-page works!</p>

<div class="second">
  <div class="leftSide">
    <div class="head">
      <div class="imgtext">
        <div class="userimg">
          <img class="cover" src="../../assets/img/image.jpeg">
        </div>
        <h4>Bindhu<br><span class="dispo"></span><span>Disponible</span></h4>
      </div>
      <ul class="navicons">
        <li>
          <i-feather name="more-vertical"></i-feather>
        </li>
      </ul>
    </div>
    <div class="chat">
      <div class="message my_side_message">
        <p>salut ca va ?<br><span>11h12</span></p>
      </div>
      <div class="message other_side_message">
        <p>Hello jdhufdhciudhzfuizehfuizeh <br><span>11h15</span></p>
      </div>
      <div class="message my_side_message">
        <p>Hai bdhbdhbcbgdifuezuez<br><span>11h12</span></p>
      </div>
      <div class="message other_side_message">
        <p>Hello jdhufdhciudhzfuizehfuizeh <br><span>11h15</span></p>
      </div>
    </div>
    <div class="chatInput">
      <i-feather name="plus"></i-feather>
      <i-feather name="smile"></i-feather>
      <input placeholder="Rédigez Texte" type="text">
      <i-feather name="send"></i-feather>
    </div>
  </div>
  <div class="rightSide">
    <div class="imgtext">
      <h4><u class="underline">Liste de discussions</u></h4>
    </div>
    <div class="amis">
      <div class="imgtext">
        <div class="userimg">
          <img class="cover" src="../../assets/img/image.jpeg">
        </div>
        <h4>Wendy<br><span class="hors"></span><span>Hors Ligne</span></h4>
      </div>
      <div class="imgtext" style="margin-top: 20px">
        <div class="userimg">
          <img class="cover" src="../../assets/img/image.jpeg">
        </div>
        <h4>Antoine<br><span class="dispo"></span><span>Disponible</span></h4>
      </div>
      <div class="imgtext" style="margin-top: 20px">
        <div class="userimg">
          <img class="cover" src="../../assets/img/image.jpeg">
        </div>
        <h4>Tina<br><span class="hors"></span><span>Hors Ligne</span></h4>
      </div>
      <div class="imgtext" style="margin-top: 20px">
        <div class="userimg">
          <img class="cover" src="../../assets/img/image.jpeg">
        </div>
        <h4>Matthieu<br><span class="hors"></span><span>Hors Ligne</span></h4>
      </div>


    </div>
    <div class="button" type="button">
      Créer un groupe

    </div>

  </div>

</div>
